<h1>
  {{ title }}
</h1>
<div class='row'>
    <div class='col-sm-4' *ngFor='let abc of videoList'>
        <div class="thumbnail">
          <a routerLink='/videos/{{ abc.slug }}' routerLinkActive="active" *ngIf='abc.image'><img [src]='abc.image' alt="{{ abc.name }} image"></a>
          <div class="caption">
            <h3><a routerLink='/videos/{{ abc.slug }}' routerLinkActive="active">{{ abc.name }}</a></h3>
            <p><a routerLink='/videos/{{ abc.slug }}' routerLinkActive="active" class="btn btn-primary" role="button">View</a></p>
          </div>
        </div>
    </div>
</div>
